In [21]:
# importamos las librerías que necesitamos
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrame
pd.set_option('display.max_rows', None)

In [14]:
df = pd.read_csv("world_data_full_apply.csv", index_col = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 36 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    float64
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             165 non-null    float64
 5   armed_forces_size                     166 non-null    float64
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         183 non-null    float64
 10  cpi                                   175 non-null    float64
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    float64
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            39 non-null     float64
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      45 non-null     float64
 33  latitude                              194 non-null    float64
 34  longitude                             194 non-null    float64
 35  continent                             194 non-null    object
dtypes: float64(29), object(7)
memory usage: 56.4+ KB

Instrucciones:

Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

Nota: Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.

In [8]:
df.isnull().sum()

country                                   0
density                                   0
abbreviation                              7
agricultural_land                         7
land_area                                30
armed_forces_size                        29
birth_rate                                6
calling_code                              1
capital/major_city                        3
co2-emissions                            12
cpi                                      20
cpi_change                               16
currency-code                            15
fertility_rate                            7
forested_area                             7
gasoline_price                           20
gdp                                       2
gross_primary_education_enrollment        7
gross_tertiary_education_enrollment      12
infant_mortality                          6
largest_city                              6
life_expectancy                           8
maternal_mortality_ratio                 14
minimum_wage                             45
official_language                         5
out_of_pocket_health_expenditure          7
physicians_per_thousand                   7
population                              156
population_labor_force_participation     19
tax_revenue                              26
total_tax_rate                           12
unemployment_rate                        19
urban_population                        150
latitude                                  1
longitude                                 1
continent                                 1
dtype: int64

In [37]:
df.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'latitude', 'longitude',
       'continent'],
      dtype='object')

In [18]:
nulos_esta_num = df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns

In [30]:
(df[nulos_esta_num].isnull().sum() / df.shape[0]*100).reset_index().sort_values(by= 0, ascending=False)

                                   index          0
20                            population  80.000000
25                      urban_population  76.923077
17                          minimum_wage  23.076923
1                              land_area  15.384615
2                      armed_forces_size  14.871795
22                           tax_revenue  13.333333
6                                    cpi  10.256410
10                        gasoline_price  10.256410
21  population_labor_force_participation   9.743590
24                     unemployment_rate   9.743590
7                             cpi_change   8.205128
16              maternal_mortality_ratio   7.179487
13   gross_tertiary_education_enrollment   6.153846
23                        total_tax_rate   6.153846
5                          co2-emissions   6.153846
15                       life_expectancy   4.102564
12    gross_primary_education_enrollment   3.589744
9                          forested_area   3.589744
8                         fertility_rate   3.589744
18      out_of_pocket_health_expenditure   3.589744
19               physicians_per_thousand   3.589744
0                      agricultural_land   3.589744
14                      infant_mortality   3.076923
3                             birth_rate   3.076923
11                                   gdp   1.025641
4                           calling_code   0.512821
26                              latitude   0.512821
27                             longitude   0.512821

In [35]:
df[["country","population", "land_area", "density"]]

                              country  population  land_area  density
0                         Afghanistan         NaN    652.230   60.000
1                             Albania         NaN     28.748  105.000
2                             Algeria         NaN        NaN   18.000
3                             Andorra      77.142    468.000  164.000
4                              Angola         NaN        NaN   26.000
5                 Antigua and Barbuda      97.118    443.000  223.000
6                           Argentina         NaN        NaN   17.000
7                             Armenia         NaN     29.743  104.000
8                           Australia         NaN        NaN    3.000
9                             Austria         NaN     83.871  109.000
10                         Azerbaijan         NaN     86.600  123.000
11                        The Bahamas     389.482     13.880   39.000
12                            Bahrain         NaN    765.000    2.239
13                         Bangladesh         NaN    148.460    1.265
14                           Barbados     287.025    430.000  668.000
15                            Belarus         NaN    207.600   47.000
16                            Belgium         NaN     30.528  383.000
17                             Belize     390.353     22.966   17.000
18                              Benin         NaN    112.622  108.000
19                             Bhutan     727.145     38.394   20.000
20                            Bolivia         NaN        NaN   11.000
21             Bosnia and Herzegovina         NaN     51.197   64.000
22                           Botswana         NaN    581.730    4.000
23                             Brazil         NaN        NaN   25.000
24                             Brunei     433.285      5.765   83.000
25                           Bulgaria         NaN    110.879   64.000
26                       Burkina Faso         NaN    274.200   76.000
27                            Burundi         NaN     27.830  463.000
28                        Ivory Coast         NaN    322.463   83.000
29                         Cape Verde     483.628      4.033  138.000
30                           Cambodia         NaN    181.035   95.000
31                           Cameroon         NaN    475.440   56.000
32                             Canada         NaN        NaN    4.000
33           Central African Republic         NaN    622.984    8.000
34                               Chad         NaN        NaN   13.000
35                              Chile         NaN    756.096   26.000
36                              China         NaN        NaN  153.000
37                           Colombia         NaN        NaN   46.000
38                            Comoros     850.886      2.235  467.000
39              Republic of the Congo         NaN    342.000   16.000
40                         Costa Rica         NaN     51.100  100.000
41                            Croatia         NaN     56.594   73.000
42                               Cuba         NaN    110.860  106.000
43                             Cyprus         NaN      9.251  131.000
44                     Czech Republic         NaN     78.867  139.000
45   Democratic Republic of the Congo         NaN        NaN   40.000
46                            Denmark         NaN     43.094  137.000
47                           Djibouti     973.560     23.200   43.000
48                           Dominica      71.808    751.000   96.000
49                 Dominican Republic         NaN     48.670  225.000
50                            Ecuador         NaN    283.561   71.000
51                              Egypt         NaN        NaN  103.000
52                        El Salvador         NaN     21.041  313.000
53                  Equatorial Guinea         NaN     28.051   50.000
54                            Eritrea         NaN    117.600   35.000
55                            Estonia         NaN     45.228   31.000
56                           Eswatini         NaN     17.364   67.000
57                           Ethiopia         NaN        NaN  115.000
58                               Fiji     889.953     18.274   49.000
59                            Finland         NaN    338.145   18.000
60                             France         NaN    643.801  119.000
61                              Gabon         NaN    267.667    9.000
62                         The Gambia         NaN     11.300  239.000
63                            Georgia         NaN     69.700   57.000
64                            Germany         NaN    357.022  240.000
65                              Ghana         NaN    238.533  137.000
66                             Greece         NaN    131.957   81.000
67                            Grenada     112.003    349.000  331.000
68                          Guatemala         NaN    108.889  167.000
69                             Guinea         NaN    245.857   53.000
70                      Guinea-Bissau         NaN     36.125   70.000
71                             Guyana     782.766    214.969    4.000
72                              Haiti         NaN     27.750  414.000
73                       Vatican City     836.000      0.000    2.003
74                           Honduras         NaN    112.090   89.000
75                            Hungary         NaN     93.028  107.000
76                            Iceland     361.313    103.000    3.000
77                              India         NaN        NaN  464.000
78                          Indonesia         NaN        NaN  151.000
79                               Iran         NaN        NaN   52.000
80                               Iraq         NaN    438.317   93.000
81                Republic of Ireland         NaN     70.273   72.000
82                             Israel         NaN     20.770  400.000
83                              Italy         NaN    301.340  206.000
84                            Jamaica         NaN     10.991  273.000
85                              Japan         NaN    377.944  347.000
86                             Jordan         NaN     89.342  115.000
87                         Kazakhstan         NaN        NaN    7.000
88                              Kenya         NaN    580.367   94.000
89                           Kiribati     117.606    811.000  147.000
90                             Kuwait         NaN     17.818  240.000
91                         Kyrgyzstan         NaN    199.951   34.000
92                               Laos         NaN    236.800   32.000
93                             Latvia         NaN     64.589   30.000
94                            Lebanon         NaN     10.400  667.000
95                            Lesotho         NaN     30.355   71.000
96                            Liberia         NaN    111.369   53.000
97                              Libya         NaN        NaN    4.000
98                      Liechtenstein      38.019    160.000  238.000
99                          Lithuania         NaN     65.300   43.000
100                        Luxembourg     645.397      2.586  242.000
101                        Madagascar         NaN    587.041   48.000
102                            Malawi         NaN    118.484  203.000
103                          Malaysia         NaN    329.847   99.000
104                          Maldives     530.953    298.000    1.802
105                              Mali         NaN        NaN   17.000
106                             Malta     502.653    316.000    1.380
107                  Marshall Islands      58.791    181.000  329.000
108                        Mauritania         NaN        NaN    5.000
109                         Mauritius         NaN      2.040  626.000
110                            Mexico         NaN        NaN   66.000
111    Federated States of Micronesia     113.815    702.000  784.000
112                           Moldova         NaN     33.851  123.000
113                            Monaco      38.964      2.000   26.337
114                          Mongolia         NaN        NaN    2.000
115                        Montenegro     622.137     13.812   47.000
116                           Morocco         NaN    446.550   83.000
117                        Mozambique         NaN    799.380   40.000
118                           Myanmar         NaN    676.578   83.000
119                           Namibia         NaN    824.292    3.000
120                             Nauru      10.084     21.000  541.000
121                             Nepal         NaN    147.181  203.000
122                       Netherlands         NaN     41.543  508.000
123                       New Zealand         NaN    268.838   18.000
124                         Nicaragua         NaN    130.370   55.000
125                             Niger         NaN        NaN   19.000
126                           Nigeria         NaN    923.768  226.000
127                       North Korea         NaN    120.538  214.000
128                   North Macedonia         NaN     25.713   83.000
129                            Norway         NaN    323.802   15.000
130                              Oman         NaN    309.500   16.000
131                          Pakistan         NaN    796.095  287.000
132                             Palau      18.233    459.000   39.000
133    Palestinian National Authority         NaN        NaN  847.000
134                            Panama         NaN     75.420   58.000
135                  Papua New Guinea         NaN    462.840   20.000
136                          Paraguay         NaN    406.752   18.000
137                              Peru         NaN        NaN   26.000
138                       Philippines         NaN    300.000  368.000
139                            Poland         NaN    312.685  124.000
140                          Portugal         NaN     92.212  111.000
141                             Qatar         NaN     11.586  248.000
142                           Romania         NaN    238.391   84.000
143                            Russia         NaN        NaN    9.000
144                            Rwanda         NaN     26.338  525.000
145             Saint Kitts and Nevis      52.823    261.000  205.000
146                       Saint Lucia     182.790    616.000  301.000
147  Saint Vincent and the Grenadines     100.455    389.000  284.000
148                             Samoa     202.506      2.831   70.000
149                        San Marino      33.860     61.000  566.000
150                      S�����������     215.056    964.000  228.000
151                      Saudi Arabia         NaN        NaN   16.000
152                           Senegal         NaN    196.722   87.000
153                            Serbia         NaN     77.474  100.000
154                        Seychelles      97.625    455.000  214.000
155                      Sierra Leone         NaN     71.740  111.000
156                         Singapore         NaN    716.000    8.358
157                          Slovakia         NaN     49.035  114.000
158                          Slovenia         NaN     20.273  103.000
159                   Solomon Islands     669.823     28.896   25.000
160                           Somalia         NaN    637.657   25.000
161                      South Africa         NaN        NaN   49.000
162                       South Korea         NaN     99.720  527.000
163                       South Sudan         NaN    644.329   18.000
164                             Spain         NaN    505.370   94.000
165                         Sri Lanka         NaN     65.610  341.000
166                             Sudan         NaN        NaN   25.000
167                          Suriname     581.372    163.820    4.000
168                            Sweden         NaN    450.295   25.000
169                       Switzerland         NaN     41.277  219.000
170                             Syria         NaN    185.180   95.000
171                        Tajikistan         NaN    144.100   68.000
172                          Tanzania         NaN    947.300   67.000
173                          Thailand         NaN    513.120  137.000
174                        East Timor         NaN     14.874   89.000
175                              Togo         NaN     56.785  152.000
176                             Tonga     100.209    747.000  147.000
177               Trinidad and Tobago         NaN      5.128  273.000
178                           Tunisia         NaN    163.610   76.000
179                            Turkey         NaN    783.562  110.000
180                      Turkmenistan         NaN    488.100   13.000
181                            Tuvalu      11.646     26.000  393.000
182                            Uganda         NaN    241.038  229.000
183                           Ukraine         NaN    603.550   75.000
184              United Arab Emirates         NaN     83.600  118.000
185                    United Kingdom         NaN    243.610  281.000
186                     United States         NaN        NaN   36.000
187                           Uruguay         NaN    176.215   20.000
188                        Uzbekistan         NaN    447.400   79.000
189                           Vanuatu     299.882     12.189   25.000
190                         Venezuela         NaN    912.050   32.000
191                           Vietnam         NaN    331.210  314.000
192                             Yemen         NaN    527.968   56.000
193                            Zambia         NaN    752.618   25.000
194                          Zimbabwe         NaN    390.757   38.000

In [39]:
df_copia = df.copy()

In [43]:
imputer_iterative =IterativeImputer(max_iter=20)

imputer_iterative_imputado = imputer_iterative.fit_transform(df_copia[["population", "land_area", "density"]])
imputer_iterative_imputado

array([[225.10916845, 652.23      ,  60.        ],
       [448.77776131,  28.748     , 105.        ],
       [380.64305887, 292.9388145 ,  18.        ],
       [ 77.142     , 468.        , 164.        ],
       [378.42832422, 290.55489915,  26.        ],
       [ 97.118     , 443.        , 223.        ],
       [380.9199007 , 293.23680392,  17.        ],
       [448.78482757,  29.743     , 104.        ],
       [384.79568633, 297.40865578,   3.        ],
       [425.87388131,  83.871     , 109.        ],
       [419.32714446,  86.6       , 123.        ],
       [389.482     ,  13.88      ,  39.        ],
       [204.11449538, 765.        ,   2.239     ],
       [443.1261847 , 148.46      ,   1.265     ],
       [287.025     , 430.        , 668.        ],
       [402.30000552, 207.6       ,  47.        ],
       [339.06343977,  30.528     , 383.        ],
       [390.353     ,  22.966     ,  17.        ],
       [415.13808225, 112.622     , 108.        ],
       [727.145     ,  38.394     ,  20.        ],
       [382.58095168, 295.02474043,  11.        ],
       [456.16823473,  51.197     ,  64.        ],
       [274.35790024, 581.73      ,   4.        ],
       [378.70516605, 290.85288857,  25.        ],
       [433.285     ,   5.765     ,  83.        ],
       [433.06851979, 110.879     ,  64.        ],
       [365.14955122, 274.2       ,  76.        ],
       [308.73348182,  27.83      , 463.        ],
       [343.72427801, 322.463     ,  83.        ],
       [483.628     ,   4.033     , 138.        ],
       [393.75737255, 181.035     ,  95.        ],
       [295.10384665, 475.44      ,  56.        ],
       [384.5188445 , 297.11066636,   4.        ],
       [256.82196949, 622.984     ,   8.        ],
       [382.02726802, 294.42876159,  13.        ],
       [198.24222582, 756.096     ,  26.        ],
       [343.26941172, 252.71024299, 153.        ],
       [372.89148761, 284.59511078,  46.        ],
       [850.886     ,   2.235     , 467.        ],
       [362.43844926, 342.        ,  16.        ],
       [442.0873839 ,  51.1       , 100.        ],
       [450.54974566,  56.594     ,  73.        ],
       [416.6044136 , 110.86      , 106.        ],
       [446.12739065,   9.251     , 131.        ],
       [416.04533385,  78.867     , 139.        ],
       [374.55253859, 286.38304729,  40.        ],
       [430.67550698,  43.094     , 137.        ],
       [973.56      ,  23.2       ,  43.        ],
       [ 71.808     , 751.        ,  96.        ],
       [394.00570452,  48.67      , 225.        ],
       [363.48729614, 283.561     ,  71.        ],
       [357.11150325, 267.60971392, 103.        ],
       [370.18778429,  21.041     , 313.        ],
       [470.61730194,  28.051     ,  50.        ],
       [441.84033062, 117.6       ,  35.        ],
       [471.42037735,  45.228     ,  31.        ],
       [468.08664935,  17.364     ,  67.        ],
       [353.78940128, 264.0338409 , 115.        ],
       [889.953     ,  18.274     ,  49.        ],
       [363.14615865, 338.145     ,  18.        ],
       [205.23310458, 643.801     , 119.        ],
       [393.95402723, 267.667     ,   9.        ],
       [402.97914912,  11.3       , 239.        ],
       [451.75195491,  69.7       ,  57.        ],
       [268.77644822, 357.022     , 240.        ],
       [355.03150729, 238.533     , 137.        ],
       [418.24333208, 131.957     ,  81.        ],
       [112.003     , 349.        , 331.        ],
       [393.44444756, 108.889     , 167.        ],
       [385.13969817, 245.857     ,  53.        ],
       [459.6487353 ,  36.125     ,  70.        ],
       [782.766     , 214.969     ,   4.        ],
       [327.98114897,  27.75      , 414.        ],
       [836.        ,   0.        ,   2.003     ],
       [422.79536584, 112.09      ,  89.        ],
       [423.11405088,  93.028     , 107.        ],
       [361.313     , 103.        ,   3.        ],
       [257.17160236, 160.03553381, 464.        ],
       [343.82309538, 253.30622183, 151.        ],
       [371.23043662, 282.80717427,  52.        ],
       [294.96160547, 438.317     ,  93.        ],
       [445.6475129 ,  70.273     ,  72.        ],
       [336.1732209 ,  20.77      , 400.        ],
       [303.6620159 , 301.34      , 206.        ],
       [389.76470741,  10.991     , 273.        ],
       [218.71565391, 377.944     , 347.        ],
       [421.40328366,  89.342     , 115.        ],
       [383.688319  , 296.21669811,   7.        ],
       [239.58945888, 580.367     ,  94.        ],
       [117.606     , 811.        , 147.        ],
       [400.06420179,  17.818     , 240.        ],
       [410.35883401, 199.951     ,  34.        ],
       [396.88090923, 236.8       ,  32.        ],
       [464.31894583,  64.589     ,  30.        ],
       [235.47546933,  10.4       , 667.        ],
       [461.48981654,  30.355     ,  71.        ],
       [437.19282078, 111.369     ,  53.        ],
       [384.5188445 , 297.11066636,   4.        ],
       [ 38.019     , 160.        , 238.        ],
       [458.94544663,  65.3       ,  43.        ],
       [645.397     ,   2.586     , 242.        ],
       [255.04648045, 587.041     ,  48.        ],
       [375.61234112, 118.484     , 203.        ],
       [334.59148401, 329.847     ,  99.        ],
       [530.953     , 298.        ,   1.802     ],
       [380.9199007 , 293.23680392,  17.        ],
       [502.653     , 316.        ,   1.38      ],
       [ 58.791     , 181.        , 329.        ],
       [384.24200267, 296.81267694,   5.        ],
       [254.79046133,   2.04      , 626.        ],
       [367.35465099, 278.63532241,  66.        ],
       [113.815     , 702.        , 784.        ],
       [439.74346536,  33.851     , 123.        ],
       [ 38.964     ,   2.        ,  26.337     ],
       [385.07252816, 297.7066452 ,   2.        ],
       [622.137     ,  13.812     ,  47.        ],
       [295.69682705, 446.55      ,  83.        ],
       [175.99881426, 799.38      ,  40.        ],
       [206.66527265, 676.578     ,  83.        ],
       [180.86728143, 824.292     ,   3.        ],
       [ 10.084     ,  21.        , 541.        ],
       [364.50526496, 147.181     , 203.        ],
       [285.77791891,  41.543     , 508.        ],
       [389.97119708, 268.838     ,  18.        ],
       [429.05419317, 130.37      ,  55.        ],
       [380.36621704, 292.64082508,  19.        ],
       [ 54.90982479, 923.768     , 226.        ],
       [370.50339359, 120.538     , 214.        ],
       [458.58035539,  25.713     ,  83.        ],
       [369.87410084, 323.802     ,  15.        ],
       [375.01746363, 309.5       ,  16.        ],
       [ 80.40238998, 796.095     , 287.        ],
       [ 18.233     , 459.        ,  39.        ],
       [151.14118118,  45.9055865 , 847.        ],
       [449.14587076,  75.42      ,  58.        ],
       [314.09902811, 462.84      ,  20.        ],
       [336.59205283, 406.752     ,  18.        ],
       [378.42832422, 290.55489915,  26.        ],
       [240.64788375, 300.        , 368.        ],
       [331.42953717, 312.685     , 124.        ],
       [421.86117041,  92.212     , 111.        ],
       [399.33885521,  11.586     , 248.        ],
       [375.87188181, 238.391     ,  84.        ],
       [383.13463534, 295.62071927,   9.        ],
       [284.99594285,  26.338     , 525.        ],
       [ 52.823     , 261.        , 205.        ],
       [182.79      , 616.        , 301.        ],
       [100.455     , 389.        , 284.        ],
       [202.506     ,   2.831     ,  70.        ],
       [ 33.86      ,  61.        , 566.        ],
       [215.056     , 964.        , 228.        ],
       [381.19674253, 293.53479334,  16.        ],
       [390.82319356, 196.722     ,  87.        ],
       [431.87941698,  77.474     , 100.        ],
       [ 97.625     , 455.        , 214.        ],
       [429.78478833,  71.74      , 111.        ],
       [220.68004372, 716.        ,   8.358     ],
       [437.39614843,  49.035     , 114.        ],
       [452.84233645,  20.273     , 103.        ],
       [669.823     ,  28.896     ,  25.        ],
       [244.47581523, 637.657     ,  25.        ],
       [372.06096211, 283.70114253,  49.        ],
       [255.80933429,  99.72      , 527.        ],
       [244.63868369, 644.329     ,  18.        ],
       [268.61679244, 505.37      ,  94.        ],
       [341.95653116,  65.61      , 341.        ],
       [378.70516605, 290.85288857,  25.        ],
       [581.372     , 163.82      ,   4.        ],
       [316.99363956, 450.295     ,  25.        ],
       [399.22020573,  41.277     , 219.        ],
       [392.15306441, 185.18      ,  95.        ],
       [418.64173434, 144.1       ,  68.        ],
       [108.15808601, 947.3       ,  67.        ],
       [248.75354362, 513.12      , 137.        ],
       [460.42248772,  14.874     ,  89.        ],
       [419.49378772,  56.785     , 152.        ],
       [100.209     , 747.        , 147.        ],
       [392.03396161,   5.128     , 273.        ],
       [407.95303428, 163.61      ,  76.        ],
       [154.66868386, 783.562     , 110.        ],
       [307.06747444, 488.1       ,  13.        ],
       [ 11.646     ,  26.        , 393.        ],
       [317.98161445, 241.038     , 229.        ],
       [238.06793244, 603.55      ,  75.        ],
       [422.44917235,  83.6       , 118.        ],
       [296.59289432, 243.61      , 281.        ],
       [375.65990591, 287.57500497,  36.        ],
       [425.0362587 , 176.215     ,  20.        ],
       [296.93654793, 447.4       ,  79.        ],
       [299.882     ,  12.189     ,  25.        ],
       [135.52769525, 912.05      ,  32.        ],
       [249.74575102, 331.21      , 314.        ],
       [274.77306306, 527.968     ,  56.        ],
       [199.9805515 , 752.618     ,  25.        ],
       [334.93931072, 390.757     ,  38.        ]])

In [44]:
df_copia[["population_imp", "land_area_imp", "density_imp"]] =imputer_iterative_imputado

In [46]:
df_copia[["country", "population", "land_area","density", "population_imp", "land_area_imp", "density_imp"]]

,country,population,land_area,density,population_imp,land_area_imp,density_imp
0,Afghanistan,NaN,652.230,60.000,225.109168,652.230000,60.000
1,Albania,NaN,28.748,105.000,448.777761,28.748000,105.000
2,Algeria,NaN,NaN,18.000,380.643059,292.938815,18.000
3,Andorra,77.142,468.000,164.000,77.142000,468.000000,164.000
4,Angola,NaN,NaN,26.000,378.428324,290.554899,26.000
5,Antigua and Barbuda,97.118,443.000,223.000,97.118000,443.000000,223.000
6,Argentina,NaN,NaN,17.000,380.919901,293.236804,17.000
7,Armenia,NaN,29.743,104.000,448.784828,29.743000,104.000
8,Australia,NaN,NaN,3.000,384.795686,297.408656,3.000
9,Austria,NaN,83.871,109.000,425.873881,83.871000,109.000
10,Azerbaijan,NaN,86.600,123.000,419.327144,86.600000,123.000
11,The Bahamas,389.482,13.880,39.000,389.482000,13.880000,39.000
12,Bahrain,NaN,765.000,2.239,204.114495,765.000000,2.239
13,Bangladesh,NaN,148.460,1.265,443.126185,148.460000,1.265
14,Barbados,287.025,430.000,668.000,287.025000,430.000000,668.000
15,Belarus,NaN,207.600,47.000,402.300006,207.600000,47.000
16,Belgium,NaN,30.528,383.000,339.063440,30.528000,383.000
17,Belize,390.353,22.966,17.000,390.353000,22.966000,17.000
18,Benin,NaN,112.622,108.000,415.138082,112.622000,108.000
19,Bhutan,727.145,38.394,20.000,727.145000,38.394000,20.000
20,Bolivia,NaN,NaN,11.000,382.580952,295.024740,11.000
21,Bosnia and Herzegovina,NaN,51.197,64.000,456.168235,51.197000,64.000
22,Botswana,NaN,581.730,4.000,274.357900,581.730000,4.000
23,Brazil,NaN,NaN,25.000,378.705166,290.852889,25.000
24,Brunei,433.285,5.765,83.000,433.285000,5.765000,83.000
25,Bulgaria,NaN,110.879,64.000,433.068520,110.879000,64.000
26,Burkina Faso,NaN,274.200,76.000,365.149551,274.200000,76.000
27,Burundi,NaN,27.830,463.000,308.733482,27.830000,463.000
28,Ivory Coast,NaN,322.463,83.000,343.724278,322.463000,83.000
29,Cape Verde,483.628,4.033,138.000,483.628000,4.033000,138.000
30,Cambodia,NaN,181.035,95.000,393.757373,181.035000,95.000
31,Cameroon,NaN,475.440,56.000,295.103847,475.440000,56.000
32,Canada,NaN,NaN,4.000,384.518844,297.110666,4.000
33,Central African Republic,NaN,622.984,8.000,256.821969,622.984000,8.000
34,Chad,NaN,NaN,13.000,382.027268,294.428762,13.000
35,Chile,NaN,756.096,26.000,198.242226,756.096000,26.000
36,China,NaN,NaN,153.000,343.269412,252.710243,153.000
37,Colombia,NaN,NaN,46.000,372.891488,284.595111,46.000
38,Comoros,850.886,2.235,467.000,850.886000,2.235000,467.000
39,Republic of the Congo,NaN,342.000,16.000,362.438449,342.000000,16.000
40,Costa Rica,NaN,51.100,100.000,442.087384,51.100000,100.000
41,Croatia,NaN,56.594,73.000,450.549746,56.594000,73.000
42,Cuba,NaN,110.860,106.000,416.604414,110.860000,106.000
43,Cyprus,NaN,9.251,131.000,446.127391,9.251000,131.000
44,Czech Republic,NaN,78.867,139.000,416.045334,78.867000,139.000
45,Democratic Republic of the Congo,NaN,NaN,40.000,374.552539,286.383047,40.000
46,Denmark,NaN,43.094,137.000,430.675507,43.094000,137.000
47,Djibouti,973.560,23.200,43.000,973.560000,23.200000,43.000
48,Dominica,71.808,751.000,96.000,71.808000,751.000000,96.000
49,Dominican Republic,NaN,48.670,225.000,394.005705,48.670000,225.000
50,Ecuador,NaN,283.561,71.000,363.487296,283.561000,71.000
51,Egypt,NaN,NaN,103.000,357.111503,267.609714,103.000
52,El Salvador,NaN,21.041,313.000,370.187784,21.041000,313.000
53,Equatorial Guinea,NaN,28.051,50.000,470.617302,28.051000,50.000
54,Eritrea,NaN,117.600,35.000,441.840331,117.600000,35.000
55,Estonia,NaN,45.228,31.000,471.420377,45.228000,31.000
56,Eswatini,NaN,17.364,67.000,468.086649,17.364000,67.000
57,Ethiopia,NaN,NaN,115.000,353.789401,264.033841,115.000
58,Fiji,889.953,18.274,49.000,889.953000,18.274000,49.000
59,Finland,NaN,338.145,18.000,363.146159,338.145000,18.000
60,France,NaN,643.801,119.000,205.233105,643.801000,119.000
61,Gabon,NaN,267.667,9.000,393.954027,267.667000,9.000
62,The Gambia,NaN,11.300,239.000,402.979149,11.300000,239.000
63,Georgia,NaN,69.700,57.000,451.751955,69.700000,57.000
64,Germany,NaN,357.022,240.000,268.776448,357.022000,240.000
65,Ghana,NaN,238.533,137.000,355.031507,238.533000,137.000
66,Greece,NaN,131.957,81.000,418.243332,131.957000,81.000
67,Grenada,112.003,349.000,331.000,112.003000,349.000000,331.000
68,Guatemala,NaN,108.889,167.000,393.444448,108.889000,167.000
69,Guinea,NaN,245.857,53.000,385.139698,245.857000,53.000
70,Guinea-Bissau,NaN,36.125,70.000,459.648735,36.125000,70.000
71,Guyana,782.766,214.969,4.000,782.766000,214.969000,4.000
72,Haiti,NaN,27.750,414.000,327.981149,27.750000,414.000
73,Vatican City,836.000,0.000,2.003,836.000000,0.000000,2.003
74,Honduras,NaN,112.090,89.000,422.795366,112.090000,89.000
75,Hungary,NaN,93.028,107.000,423.114051,93.028000,107.000
76,Iceland,361.313,103.000,3.000,361.313000,103.000000,3.000
77,India,NaN,NaN,464.000,257.171602,160.035534,464.000
78,Indonesia,NaN,NaN,151.000,343.823095,253.306222,151.000
79,Iran,NaN,NaN,52.000,371.230437,282.807174,52.000
80,Iraq,NaN,438.317,93.000,294.961605,438.317000,93.000
81,Republic of Ireland,NaN,70.273,72.000,445.647513,70.273000,72.000
82,Israel,NaN,20.770,400.000,336.173221,20.770000,400.000
83,Italy,NaN,301.340,206.000,303.662016,301.340000,206.000
84,Jamaica,NaN,10.991,273.000,389.764707,10.991000,273.000
85,Japan,NaN,377.944,347.000,218.715654,377.944000,347.000
86,Jordan,NaN,89.342,115.000,421.403284,89.342000,115.000
87,Kazakhstan,NaN,NaN,7.000,383.688319,296.216698,7.000
88,Kenya,NaN,580.367,94.000,239.589459,580.367000,94.000
89,Kiribati,117.606,811.000,147.000,117.606000,811.000000,147.000
90,Kuwait,NaN,17.818,240.000,400.064202,17.818000,240.000
91,Kyrgyzstan,NaN,199.951,34.000,410.358834,199.951000,34.000
92,Laos,NaN,236.800,32.000,396.880909,236.800000,32.000
93,Latvia,NaN,64.589,30.000,464.318946,64.589000,30.000
94,Lebanon,NaN,10.400,667.000,235.475469,10.400000,667.000
95,Lesotho,NaN,30.355,71.000,461.489817,30.355000,71.000
96,Liberia,NaN,111.369,53.000,437.192821,111.369000,53.000
97,Libya,NaN,NaN,4.000,384.518844,297.110666,4.000
98,Liechtenstein,38.019,160.000,238.000,38.019000,160.000000,238.000
99,Lithuania,NaN,65.300,43.000,458.945447,65.300000,43.000
100,Luxembourg,645.397,2.586,242.000,645.397000,2.586000,242.000
101,Madagascar,NaN,587.041,48.000,255.046480,587.041000,48.000
102,Malawi,NaN,118.484,203.000,375.612341,118.484000,203.000
103,Malaysia,NaN,329.847,99.000,334.591484,329.847000,99.000
104,Maldives,530.953,298.000,1.802,530.953000,298.000000,1.802
105,Mali,NaN,NaN,17.000,380.919901,293.236804,17.000
106,Malta,502.653,316.000,1.380,502.653000,316.000000,1.380
107,Marshall Islands,58.791,181.000,329.000,58.791000,181.000000,329.000
108,Mauritania,NaN,NaN,5.000,384.242003,296.812677,5.000
109,Mauritius,NaN,2.040,626.000,254.790461,2.040000,626.000
110,Mexico,NaN,NaN,66.000,367.354651,278.635322,66.000
111,Federated States of Micronesia,113.815,702.000,784.000,113.815000,702.000000,784.000
112,Moldova,NaN,33.851,123.000,439.743465,33.851000,123.000
113,Monaco,38.964,2.000,26.337,38.964000,2.000000,26.337
114,Mongolia,NaN,NaN,2.000,385.072528,297.706645,2.000
115,Montenegro,622.137,13.812,47.000,622.137000,13.812000,47.000
116,Morocco,NaN,446.550,83.000,295.696827,446.550000,83.000
117,Mozambique,NaN,799.380,40.000,175.998814,799.380000,40.000
118,Myanmar,NaN,676.578,83.000,206.665273,676.578000,83.000
119,Namibia,NaN,824.292,3.000,180.867281,824.292000,3.000
120,Nauru,10.084,21.000,541.000,10.084000,21.000000,541.000
121,Nepal,NaN,147.181,203.000,364.505265,147.181000,203.000
122,Netherlands,NaN,41.543,508.000,285.777919,41.543000,508.000
123,New Zealand,NaN,268.838,18.000,389.971197,268.838000,18.000
124,Nicaragua,NaN,130.370,55.000,429.054193,130.370000,55.000
125,Niger,NaN,NaN,19.000,380.366217,292.640825,19.000
126,Nigeria,NaN,923.768,226.000,54.909825,923.768000,226.000
127,North Korea,NaN,120.538,214.000,370.503394,120.538000,214.000
128,North Macedonia,NaN,25.713,83.000,458.580355,25.713000,83.000
129,Norway,NaN,323.802,15.000,369.874101,323.802000,15.000
130,Oman,NaN,309.500,16.000,375.017464,309.500000,16.000
131,Pakistan,NaN,796.095,287.000,80.402390,796.095000,287.000
132,Palau,18.233,459.000,39.000,18.233000,459.000000,39.000
133,Palestinian National Authority,NaN,NaN,847.000,151.141181,45.905586,847.000
134,Panama,NaN,75.420,58.000,449.145871,75.420000,58.000
135,Papua New Guinea,NaN,462.840,20.000,314.099028,462.840000,20.000
136,Paraguay,NaN,406.752,18.000,336.592053,406.752000,18.000
137,Peru,NaN,NaN,26.000,378.428324,290.554899,26.000
138,Philippines,NaN,300.000,368.000,240.647884,300.000000,368.000
139,Poland,NaN,312.685,124.000,331.429537,312.685000,124.000
140,Portugal,NaN,92.212,111.000,421.861170,92.212000,111.000
141,Qatar,NaN,11.586,248.000,399.338855,11.586000,248.000
142,Romania,NaN,238.391,84.000,375.871882,238.391000,84.000
143,Russia,NaN,NaN,9.000,383.134635,295.620719,9.000
144,Rwanda,NaN,26.338,525.000,284.995943,26.338000,525.000
145,Saint Kitts and Nevis,52.823,261.000,205.000,52.823000,261.000000,205.000
146,Saint Lucia,182.790,616.000,301.000,182.790000,616.000000,301.000
147,Saint Vincent and the Grenadines,100.455,389.000,284.000,100.455000,389.000000,284.000
148,Samoa,202.506,2.831,70.000,202.506000,2.831000,70.000
149,San Marino,33.860,61.000,566.000,33.860000,61.000000,566.000
150,S�����������,215.056,964.000,228.000,215.056000,964.000000,228.000
151,Saudi Arabia,NaN,NaN,16.000,381.196743,293.534793,16.000
152,Senegal,NaN,196.722,87.000,390.823194,196.722000,87.000
153,Serbia,NaN,77.474,100.000,431.879417,77.474000,100.000
154,Seychelles,97.625,455.000,214.000,97.625000,455.000000,214.000
155,Sierra Leone,NaN,71.740,111.000,429.784788,71.740000,111.000
156,Singapore,NaN,716.000,8.358,220.680044,716.000000,8.358
157,Slovakia,NaN,49.035,114.000,437.396148,49.035000,114.000
158,Slovenia,NaN,20.273,103.000,452.842336,20.273000,103.000
159,Solomon Islands,669.823,28.896,25.000,669.823000,28.896000,25.000
160,Somalia,NaN,637.657,25.000,244.475815,637.657000,25.000
161,South Africa,NaN,NaN,49.000,372.060962,283.701143,49.000
162,South Korea,NaN,99.720,527.000,255.809334,99.720000,527.000
163,South Sudan,NaN,644.329,18.000,244.638684,644.329000,18.000
164,Spain,NaN,505.370,94.000,268.616792,505.370000,94.000
165,Sri Lanka,NaN,65.610,341.000,341.956531,65.610000,341.000
166,Sudan,NaN,NaN,25.000,378.705166,290.852889,25.000
167,Suriname,581.372,163.820,4.000,581.372000,163.820000,4.000
168,Sweden,NaN,450.295,25.000,316.993640,450.295000,25.000
169,Switzerland,NaN,41.277,219.000,399.220206,41.277000,219.000
170,Syria,NaN,185.180,95.000,392.153064,185.180000,95.000
171,Tajikistan,NaN,144.100,68.000,418.641734,144.100000,68.000
172,Tanzania,NaN,947.300,67.000,108.158086,947.300000,67.000
173,Thailand,NaN,513.120,137.000,248.753544,513.120000,137.000
174,East Timor,NaN,14.874,89.000,460.422488,14.874000,89.000
175,Togo,NaN,56.785,152.000,419.493788,56.785000,152.000
176,Tonga,100.209,747.000,147.000,100.209000,747.000000,147.000
177,Trinidad and Tobago,NaN,5.128,273.000,392.033962,5.128000,273.000
178,Tunisia,NaN,163.610,76.000,407.953034,163.610000,76.000
179,Turkey,NaN,783.562,110.000,154.668684,783.562000,110.000
180,Turkmenistan,NaN,488.100,13.000,307.067474,488.100000,13.000
181,Tuvalu,11.646,26.000,393.000,11.646000,26.000000,393.000
182,Uganda,NaN,241.038,229.000,317.981614,241.038000,229.000
183,Ukraine,NaN,603.550,75.000,238.067932,603.550000,75.000
184,United Arab Emirates,NaN,83.600,118.000,422.449172,83.600000,118.000
185,United Kingdom,NaN,243.610,281.000,296.592894,243.610000,281.000
186,United States,NaN,NaN,36.000,375.659906,287.575005,36.000
187,Uruguay,NaN,176.215,20.000,425.036259,176.215000,20.000
188,Uzbekistan,NaN,447.400,79.000,296.936548,447.400000,79.000
189,Vanuatu,299.882,12.189,25.000,299.882000,12.189000,25.000
190,Venezuela,NaN,912.050,32.000,135.527695,912.050000,32.000
191,Vietnam,NaN,331.210,314.000,249.745751,331.210000,314.000
192,Yemen,NaN,527.968,56.000,274.773063,527.968000,56.000
193,Zambia,NaN,752.618,25.000,199.980552,752.618000,25.000
194,Zimbabwe,NaN,390.757,38.000,334.939311,390.757000,38.000

In [ ]:
df[["country", "capital/major_city","calling_code", "latitude", "longitude"]]

In [ ]:
nulos_esta_num

In [13]:
nulos_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
nulos_cat

Index(['abbreviation', 'capital/major_city', 'currency-code', 'largest_city',
       'official_language', 'continent'],
      dtype='object')